
/*
primaryColor='#F7D568'
backgroundColor='#0E1117'
secondaryBackgroundColor='#262730'
textColor='#FAFAFA'
*/

/*formulario
--------------------------------------------------------------*/

/*fundo*/
[data-testid='stForm'] {
    background: #F7D568;
    padding: 20px; 
    border: none;
    max-width: 1000px;
}
/*campos*/
[data-testid='stForm'] input[type='text'],
[data-testid='stForm'] input[type='email'],
[data-testid='stForm'] input[type='password'],
[data-testid='stForm'] select[type='box'],
[data-testid='stForm'] textarea {
    background: #FFFFFF;
    border: none;
}
/*botoes*/
.stButton > button {
    background: #0E1117;
    color: #FFFFFF;
    border: none;
    width: 88px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: none;
}
.stButton > button:hover {
    background: #F0F2F6;
    color: #0E1117;
    border: none;
    width: 88px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #262730;
}