[data-testid='stForm'] {
    background: #FEE135; /* Cor de fundo do formulário */
    padding: 20px; /* Espaçamento interno do formulário */
    /*border-radius: 10px; /* Arredondar as bordas do formulário */
    border: none;
    box-shadow: 5px 5px 5px #262730; /* Sombra leve */
}

[data-testid='stForm'] input[type='text'],
[data-testid='stForm'] input[type='email'],
[data-testid='stForm'] input[type='password'],
[data-testid='stForm'] textarea {
    background: #FFFFFF;
}

[data-testid='stForm'] .stButton > button {
    background: #f0f0f5; /* Cor de fundo ao passar o mouse */
    color: #262730; /* Cor do texto do botão */
    border: none; /* Borda */
}

[data-testid="stForm"] .stButton > button:hover {
    background: #262730; /* Cor de fundo do botão */
    color: #f0f0f5; /* Cor do texto do botão */
    border: none; /* Borda */
}

.stButton > button {
    background: #262730; /* Cor de fundo do botão */
    color: #f0f0f5; /* Cor do texto do botão */
    border: none; /* Borda */
}

.stButton > button:hover {
    background: #f0f0f5; /* Cor de fundo do botão */
    color: #262730; /* Cor do texto do botão */
    border: 1px solid #262730; /* Borda */
}

[data-testid="stForm"] input[type='password'] label > div > span {
    font-weight: bold; /* Texto das labels em negrito */
}