[data-testid='stForm'] {
    background: #FEE135; 
    padding: 20px; 
    border: 1px solid #262730;
    box-shadow: 5px 5px 5px #262730;
}

[data-testid='stForm'] input[type='text'],
[data-testid='stForm'] input[type='email'],
[data-testid='stForm'] input[type='password'],
[data-testid='stForm'] textarea {
    background: #FFFFFF;
    border: none;
}

[data-testid='stForm'] .stButton > button {
    background: #f0f0f5; 
    color: #262730;
    border: 1px solid #262730;
    box-shadow: 5px 5px 5px #262730;
}

[data-testid='stForm'] .stButton > button:hover {
    background: #262730;
    color: #f0f0f5;
    border: 1px solid #262730; 
    box-shadow: none;
}

.stButton > button {
    background: #f0f0f5;
    color: #262730;
    border: 1px solid #262730;
    width: 70px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #262730;
}

.stButton > button:hover {
    background: #262730;
    color: #f0f0f5;
    border: 1px solid #262730;
    box-shadow: none;
}